/ejemplo prueba/nbproject/private/
/ejemplo prueba/build/
/MVC/nbproject/private/
/MVC/build/
/PdfReport/nbproject/private/
/PdfReport/build/
/Pdfexample/nbproject/private/
/Pdfexample/build/
/POOSWING/nbproject/private/
/POO/nbproject/private/
/Hilos/nbproject/private/
/Hilos/build/
/Hilo/nbproject/private/
/Hilo/build/
